!!!
%html
  %head
    %title Your Majesty's Royal Door-opener
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}
    %meta{:name => "viewport", :content => "width=640, maximum-scale=1.0, user-scalable=no"}
    %link{:href => "icon_57.png", :rel => "apple-touch-icon"}
    %link{:href => "icon_72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "icon_114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href=>"/app.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
    %script{:src => "/jquery-1.9.1.min.js", :type => "text/javascript"}
    %script{:src => "/app.js", :type => "text/javascript"}
  %body
    
    %span{:'aria-hidden' => 'true', :class => 'icon-ym-logo'}
    .button
      .spinner
      %span{:'aria-hidden' => 'true', :class => 'icon-lock'}
      %span{:'aria-hidden' => 'true', :class => 'icon-lock'}